@import './variables.scss';

.App {
  width: 100%;
  min-height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  background-color: $app-background-color;
  color: $app-text-color;

  &.disable-scroll {
    max-height: calc(100vh - 72px);
    overflow: hidden;
  }

  main {
    flex: 1;

    &.blurred {
      filter: blur(2px);
    }
  }
}

.App.dark {
  background-color: $dark-app-background-color;
  color: $dark-app-text-color;
}

.App.dark-blue {
  background-color: $dark-blue-app-background-color;
  color: $dark-blue-app-text-color;
}