@font-face {
  font-family: 'Google Sans';
  src: url(./assets/fonts/Google\ Sans.woff2);
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Google Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex !important;
}

.ml-3 {
  margin-left: 30px !important;
}