$app-background-color: #F5F5F5;
$app-text-color: #333333;
$primary-color: #6B5B95;
$primary-color-text: #EFEFEF;
$component-background-color: #EEEEEE;
$component-text-color: #333333;
$component-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
$muted-text-color: #777777;
