@import '../../variables.scss';

.Coins {
  width: calc(1180px - 40px - 40px);
  max-width: calc(100% - 40px - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px;

  .CoinList {
    width: 100%;

    .CoinItem {
      width: 325px;
      margin: 50px auto;
    }
  }

  .btn-load-more {
    width: 425px;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .Coins {
    max-width: calc(100% - 20px - 20px);
    padding: 20px;
  }
}
