@import '../../variables.scss';

.Coin {
  width: calc(1180px - 50px - 50px);
  max-width: calc(100% - 50px - 50px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 50px;

  .name {
    margin: 0;
  }

  .prices {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: $component-background-color;
    color: $component-text-color;
    box-shadow: $component-box-shadow;

    .header {
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
        font-size: 14px;
      }
    }

    .values {
      display: flex;
      margin-left: 10px;

      & > * {
        margin: 0 25px;

        .label {
          font-size: 11px;
        }
      }

      .highest {

        .value {
          font-weight: bold;
        }
      }

      .lower {

        .value {
          color: $muted-text-color;
        }
      }
    }
  }

  .stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .header {
      display: flex;

      & > * {
        flex: 1;
        font-size: 11px;
      }
    }

    .values {
      display: flex;

      .ChangePercentage {
        flex: 1;
      }
    }
  }

  .description {
    margin: 0;
    margin-top: 50px;
  }

  .name-skeleton-item {
    @include skeleton();
    width: 250px;
    max-width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: $skeleton-color;
  }

  .prices-skeleton-item {
    @include skeleton();
    width: 525px;
    max-width: 100%;
    height: 70px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: $skeleton-color;
  }

  .stats-skeleton-item {
    @include skeleton();
    width: 100%;
    height: 50px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: $skeleton-color;
  }

  .description-skeleton-item {
    @include skeleton();
    width: 100%;
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: $skeleton-color;
  }
}

.Coin.dark {

  .prices {
    background-color: $dark-component-background-color;
    color: $dark-component-text-color;
    box-shadow: none;

    .values {

      .lower {

        .value {
          color: $dark-muted-text-color;
        }
      }
    }
  }

  .description {
    
    a {
      color: $dark-app-text-color;
    }
  }

  .name-skeleton-item {
    @include dark-skeleton();
    background-color: $dark-skeleton-color;
  }

  .prices-skeleton-item {
    @include dark-skeleton();
    background-color: $dark-skeleton-color;
  }

  .stats-skeleton-item {
    @include dark-skeleton();
    background-color: $dark-skeleton-color;
  }

  .description-skeleton-item {
    @include dark-skeleton();
    background-color: $dark-skeleton-color;
  }
}

.Coin.cyberscope {

  .prices {
    background-color: $cyberscope-component-background-color;
    color: $cyberscope-component-text-color;
    box-shadow: none;

    .values {

      .lower {

        .value {
          color: $cyberscope-muted-text-color;
        }
      }
    }
  }

  .description {
    
    a {
      color: $cyberscope-app-text-color;
    }
  }

  .name-skeleton-item {
    @include cs-skeleton();
    background-color: $cyberscope-skeleton-color;
  }

  .prices-skeleton-item {
    @include cs-skeleton();
    background-color: $cyberscope-skeleton-color;
  }

  .stats-skeleton-item {
    @include cs-skeleton();
    background-color: $cyberscope-skeleton-color;
  }

  .description-skeleton-item {
    @include cs-skeleton();
    background-color: $cyberscope-skeleton-color;
  }
}

@media screen and (max-width: 425px) {
  .Coin {
    max-width: calc(100% - 20px - 20px);
    align-items: center;
    padding: 20px;

    .prices {
      width: calc(100% - 20px - 20px);
      flex-direction: column;

      .values {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;

        & > * {
          margin: 0;
        }
      }
    }

    .stats {
      flex-direction: row;

      .header {
        flex-direction: column;

        & > * {
          margin-top: 5px;
        }
      }

      .values {
        flex-direction: column;
        margin-left: 20px;

        & > * {
          margin-top: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .Coin {
    
    .prices {
      width: auto;

      .values {
        flex-direction: column;
        align-items: center;

        & > * {
          margin-top: 10px;
        }
      }
    }

    .stats {
      justify-content: center;
    }
  } 
}
