@import '../../variables.scss';

header {
  position: fixed;
  width: calc(100% - 20px - 20px);
  top: 0;
  left: 0;
  padding: 20px;
  background-color: $app-background-color;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 997;

  &.blurred {
    filter: blur(2px);
  }

  .content {
    width: 1180px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .logo {
      display: flex;
      align-items: center;

      svg {
        color: $primary-color;
      }

      span {
        margin-left: 10px;
        font-size: 18px;
        color: $primary-color;
      }
    }

    .api-status {

      span {
        margin-left: 5px;
      }
    }

    .btn-settings {
      font-size: 24px;
      cursor: pointer;
    }
  }
}

header.dark {
  background-color: $dark-app-background-color;

  .content {

    .logo {

      svg {
        color: $dark-primary-color;
      }

      span {
        color: $dark-primary-color;
      }
    }
  }
}

header.cyberscope {
  background-color: $cyberscope-app-background-color;

  .content {

    .logo {

      svg {
        color: $cyberscope-primary-color;
      }

      span {
        color: $cyberscope-primary-color;
      }
    }
  }
}
